@import url("reset.css");
/* @import url("fonts.css"); */


/* Fonts */

.roboto-regular {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
}

/* Fonts end */

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
    max-width: 1350px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */

.header__body {
    text-align: center;
    padding: 30px 15px;
}

.header__title {
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    padding: 15px 40px;
    transition: transform 0.5s ease-in-out;
}

.header__title:hover {
    transform: scale(2);
}

/* Maim */

.title {
    font-size: 36px;
    padding: 15px 0;
}

/* Practice */

.practice {
    padding: 60px 0;
}

.practice__items {
    font-size: 0;
}

.practice__item {
    display: inline-block;
    max-width: 244px;
    width: 100%;
    margin: 10px;
    padding: 20px;
    border: 2px solid #6a6262;
    text-align: center;
    vertical-align: top;
}

.practice__item > *:not(:last-child) {
    margin-bottom: 20px;
}

.text {
    min-height: 40px;
    font-size: 20px;
}

.practice__item:hover .text {
    color: #094809;
    opacity: .8;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: #094809;
    transition: transform 0.5s ease-in-out;
    opacity: .8;
}

.transform--translate:hover .box {
    transform: translate(30px);
}

.transform--translate-2d:hover .box {
    transform: translate(20px, 20px);
}

.transform--translate-rotate:hover .box {
    transform: translate(40px, 40px) rotate(-30deg);
}

.transform--rotate:hover .box {
    transform: rotate(45deg);
}

.transform--rotate-x:hover .box {
    transform: rotateX(90deg);
}

.transform--rotate-y:hover .box {
    transform: rotateY(90deg);
}

.transform--rotate-3d:hover .box {
    transform: rotate3d(4, 3, 2, 45deg);
}

.transform--scale:hover .box {
    transform: scale(1.5);
}

.transform--scale-x:hover .box {
    transform: scaleX(.5);
}

.transform--scale-y:hover .box {
    transform: scaleY(2);
}

.transform--skew:hover .box {
    transform: skew(10deg, 10deg);
}

.transform--skew-x:hover .box {
    transform: skewX(20deg);
}

.transform--skew-y:hover .box {
    transform: skewY(45deg);
}

.transform--origin:hover .box {
    transform-origin: top right;
    transform: rotate(-35deg);
    transition: transform .5s;
}

.transform--matrix:hover .box {
    transform: matrix(.5, .1, -0.3, .5, -40, 20);
}

/* Trak */

.track {
    position: relative;
    padding: 60px 0;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 30%, rgba(145, 250, 145, 1) 60%, rgba(0, 128, 0, 1) 100%)
}

.track::before {
    position: absolute;
    content: '';
    bottom: 45px;
    width: 100%;
    height: 135px;
    background-color: #404040;
    border-top: 10px double #a5a5a5;
    border-bottom: 10px double #a5a5a5;
}

.track__inner {
    font-size: 0;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

/* Wheel */

.wheel {
    position: absolute;
    opacity: 1;
    overflow: hidden;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: black;
    border: 2px dashed #6a6262;
}

.wheel::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: silver;
    border-radius: 50%;
    transform: scale(.6);
    box-shadow: 0px -3px 30px 6px rgba(0,0,0,0.75) inset;
}

.wheel::after {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(.5);
    border: 15px dotted #292929;
}

.wheel__axle {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #282828;
    transform: scale(.2);
    border-radius: 50%;
    box-shadow: 0px -3px 30px 6px rgba(0,0,0,1) inset;
}

.wheel__axle::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    background-color: rgba(78,78,78,0.5);
    border-radius: 50%;
    border: 15px dotted #000000;
    box-shadow: 0px -3px 30px 6px rgba(0,0,0,.65) inset,
        0px -3px 30px 6px rgba(0,0,0,.5) ;
}

.wheel__axle::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(.35);
    background-color: #000000;
    border-radius: 50%;
}

/* Cabin */

.cabin {
    max-width: 280px;
    width: 100%;
    display: inline-block;
    margin-left: 12px;
}

.cabin__header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #094809;
    border-radius: 200px 20px 0 0 / 82px 100px 0 0;
}

.cabin__header::before {
    position: absolute;
    content: '';
    right: -41px;
    top: -25px;
    width: 140px;
    height: 35px;
    background-color: #094809;
    border-radius: 120px 3px 0px 0px / 35px 30px 3px 0px;
    box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.4) inset;
}

.cabin__header::after {
    position: absolute;
    content: '';
    top: 8px;
    right: -47px;
    width: 50px;
    height: 100px;
    background-color: #094809;
    box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.4) inset;
    border-radius: 0 5px 0 0 / 0 100px 0 0;
    transform: rotate(-3deg);
}

.cabin__air {
    position: relative;
    left: 180px;
    width: 125px;
    height: 40px;
    background-color: #2e2b2b;
    border-radius: 10px 10px 20px 120px / 10px 10px 20px 75px;
    z-index: 2;
}

.cabin__body {
    position: relative;
    width: 100%;
    height: 335px;
    background-color: #094809;
}

.cabin__body::after {
    position: absolute;
    content: '';
    top: 0px;
    right: -53px;
    width: 53px;
    height: 83%;
    background-color: #094809;
    box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.4) inset;
    border-radius: 0 5px 53px 0px / 0 100px 15px 0px;
    z-index: 3;
}

.cabin__windshield {
    position: absolute;
    left: -12px;
    width: 14px;
    height: 140px;
    border-right: 2px solid #292929;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(192, 192, 192, 1) 1%, rgba(255, 255, 255, 1) 100%);
    border-radius: 25px 0px 43px 0px / 177px 0px 43px 0px;
}

.cabin__windshield::before {
    position: absolute;
    content: '';
    top: -27px;
    left: 6px;
    width: 10px;
    height: 40px;
    background-color: #292929;
    border-radius: 63px 0px 5px 5px / 177px 0px 5px 5px;
    transform: rotate(5deg);
}

.cabin__hood {
    position: absolute;
    top: 142px;
    left: -12px;
    width: 15px;
    height: 130px;
    background-color: #094809;
    transform: skew(0deg, -12deg);
}

.cabin__hood::before {
    position: absolute;
    content: '';
    top: -7px;
    width: 157%;
    height: 56%;
    background-color: #292929;
    transform: skew(0deg, -2deg);
}

.cabin__hood::after{
    position: absolute;
    content: '';
    left: 3px;
    bottom: 30px;
    width: 120%;
    height: 30px;
    background: linear-gradient(180deg, rgba(9, 72, 9, 1) 0%, rgba(24, 38, 24, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    transform: skew(1deg, -3deg) scale(1.3);
    opacity: .4;
}

.cabin__enter {
    position: relative;
    display: inline-block;
    left: 12px;
    width: 155px;
    height: 230px;
    background: #fff url('../img/door.jpg') -3px 39px / 103% no-repeat;
    border-radius: 50px 10px 30px 40px / 25px 10px  30px 20px;
    border: 3px solid #000;
    overflow: hidden;
}

.cabin__door {
    position: absolute;
    top: 0;
    left: 12px;
    width: 155px;
    height: 330px;
    background-color: #094809;
    border-radius: 50px 10px 75px 10px / 25px 10px 125px 10px;
    box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.4) inset;
    transition: all 1s ease-in-out;
    z-index: 3;
}

.cabin__door::after {
    position: absolute;
    content: '';
    left: 18px;
    bottom: 110px;
    width: 77%;
    height: 30px;
    background: linear-gradient(180deg, rgba(9, 72, 9, 1) 0%, rgba(24, 38, 24, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    transform: skew(1deg, -13deg) scale(1.3);
    opacity: .4;
}

.cabin__door:hover,
.cabin__door:hover .cabin__door::after {
    transform: rotateY(90deg);
    transform-origin: 0 0 ;
}

.door__mirror {
    position: relative;
    top: -90px;
    left: 5px;
    width: 20px;
    height: 95px;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 30%, rgba(192, 192, 192, 1) 90%, rgba(9, 72, 9, 1) 100%);
    border-radius: 120px 50px 50px 120px;
}

.door__mirror::before {
    position: absolute;
    content: '';
    top: -25px;
    left: 10px;
    width: 4px;
    height: 35px;
    background-color: #292929;
    transform: rotate(29deg);
    border-radius: 5px
}

.door__mirror::after {
    position: absolute;
    content: '';
    bottom: -26px;
    left: 10px;
    width: 4px;
    height: 35px;
    background-color: #292929;
    transform: rotate(-25deg);
    border-radius: 5px;
}

.door__window {
    position: relative;
    left: 7px;
    width: 90%;
    height: 36%;
    background: #fff url('../img/door.jpg') -3px 39px / 103% no-repeat;;
    transform: skew(0deg, -11deg) rotate(0deg);
    border-radius: 50px 277px 10px 10px / 25px 50px 10px 10px;
}

.door__handle {
    position: relative;
    top: -10px;
    right: -106px;
    width: 40px;
    height: 10px;
    background-color: #292929;
    transform: skew(10deg, -12deg);
    z-index: 3;
}

.door__handle::after {
    content: '';
    width: 100%;
    height: 10px;
    border: 2px solid #292929;
    box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.4) inset;
}

.cabin__bedroom {
    position: relative;
    display: inline-block;
    top: -130px;
    right: -15px;
    width: 90px;
    height: 113px;
    perspective: 400px;
    perspective-origin: 100px 0;
    transform: rotate(-10deg);
}

.bedroom__window {
    position: relative;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2e2b2b;
    transform: rotateX(36deg);
    border-radius: 0px 100px 10px 0px / 0px 85px 10px 0px;
    z-index: 10;
}

.bedroom__window::before {
    position: absolute;
    content: '';
    top: 9px;
    left: 0px;
    width: 116px;
    height: 30px;
    background: linear-gradient(180deg, rgba(9, 72, 9, 0) 0%, rgba(24, 38, 24, 0.4) 50%, rgba(0, 0, 0, .6) 100%);
    transform: skew(7deg, -2deg) rotate(192deg);
    opacity: .2;
}

.bedroom__window::after {
    position: absolute;
    content: '';
    left: 15px;
    bottom: 5px;
    width: 80px;
    height: 30px;
    background: linear-gradient(180deg, rgba(9, 72, 9, 0) 0%, rgba(24, 38, 24, 0.4) 50%, rgba(0, 0, 0, .6) 100%);
    transform: skew(-3deg, -2deg) scale(1.3);
    opacity: .4;
}

.bedroom__hatch {
    position: relative;
    content: '';
    top: 100px;
    left: -25px;
    width: 90px;
    height: 60px;
    box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.4) inset;
    transform: rotate(10deg);
    border-radius: 10px;
}

.bedroom__hatch::before {
    position: absolute;
    content: '';
    top: -42px;
    left: 2px;
    width: 88px;
    height: 30px;
    background: linear-gradient(180deg, rgba(9, 72, 9, 1) 0%, rgba(24, 38, 24, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    transform: skew(-1deg, -12deg) scale(1.3);
    opacity: .4;
}

.cabin__stair {
    position: relative;
    top: 10px;
    left: 20px;
    width: 130px;
    height: 80px;
    background-color: #292929;
    border-radius: 0px 0px 100px 10px / 0px 0px 123px 10px;
}

.cabin__stair::before {
    position: absolute;
    content: '';
    top: 38px;
    left: 8px;
    width: 95px;
    height: 2px;
    background-color: #000000;
    border-top: 2px dashed silver;
}

.cabin__stair::after {
    position: absolute;
    content: '';
    bottom: 2px;
    left: 8px;
    width: 70px;
    height: 2px;
    background-color: #000000;
    border-top: 2px dashed silver;
}

.cabin__bottom {
    position: relative;
}

.cabin__bumper {
    position: absolute;
    top: -55px;
    left: -12px;
    width: 20px;
    height: 115px;
    background-color: #094809;
    border-radius: 24px 0 0 16px;
}

.cabin__bumper::before {
    position: relative;
    content: '';
    top: 20px;
    width: 5px;
    height: 40px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(192, 192, 192, 1) 1%, rgba(255, 255, 255, 1) 100%);
    transform: skew(0deg, -35deg);
}

.cabin__bumper::after {
    position: relative;
    content: '';
    left: -5px;
    bottom: -60px;
    width: 8px;
    height: 15px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(192, 192, 192, 1) 1%, rgba(255, 255, 255, 1) 100%);
    border-radius: 0 5px 5px 0;
    transform: rotateY(45deg);
}

.cabin__bumper:hover::before {
    background: rgba(255, 255, 169, 1);
}

.cabin__bumper:hover::after {
    width: 7px;
    height: 36px;
    bottom: -70px;
    border-radius: 0 100px 100px 0;
    background: rgba(255, 255, 169, 1);
    box-shadow: -150px -81px 47px 120px rgba(255, 255, 169, 0.66);
    transform: rotateX(63deg) rotateY(-10deg);
}

.cabin__level {
    position: relative;
    width: 120px;
    height: 60px;
    background-color: #094809;
}

.cabin__level::before {
    position: absolute;
    left: 24px;
    content: '';
    width: 60%;
    height: 40px;
    background: linear-gradient(0deg,rgba(0, 0, 0, .7) 0%, rgba(41, 41, 41, 1) 34%, rgba(9, 72, 9, 1) 100%);
    border-radius: 0 0 5px 5px;
}

.cabin__level::after {
    position: absolute;
    content: '';
    bottom: 20px;
    left: 31px;
    width: 55px;
    height: 2px;
    background-color: #000000;
    border-top: 2px dashed silver;
}

.wheel--front {
    top: -50px;
    right: 8px;
}

.wheel--front:hover {
    transform: rotate(-360deg);
    transition: transform 2s;
}

.cabin__fender {
    position: absolute;
    overflow: hidden;
    top: -70px;
    right: 0;
    width: 165px;
    height: 130px;
    background-color: #6a6262;
    border-radius: 87px 84px 0 0 / 77px 75px 0 0;
    border-top: 15px solid #292929;
    border-left: 15px solid #292929;
    border-right: 5px solid #292929;
}

.cabin__fender::after {
    position: absolute;
    bottom: 0;
    left: -15px;
    content: '';
    width: 122%;
    height: 20%;
    background-color: #404040;
}

/* Frame */

.frame {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    background-color: #000000;
}

.frame::before {
    position: absolute;
    content: '';
    width: 120%;
    height: 40px;
    background-color: #282828;
    top: -25px;
    z-index: 0;
}

.frame__fifth-wheel {
    position: absolute;
    top: -46px;
    right: 0;
    width: 140px;
    height: 20px;
    background-color: #282828;
    border-radius: 12px 325px 0 0 / 12px 63px 0 0;
}

.frame__shield {
    position: relative;
    width: 300px;
    height: 115px;
    background-color: #094809;
}

.frame__shield::before {
    position: absolute;
    content: '';
    width: 72%;
    height: 50px;
    top: 57px;
    left: 32px;
    background: linear-gradient(180deg, rgba(9, 72, 9, 1) 0%, rgba(24, 38, 24, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    transform: skew(-2deg, 0deg) scale(1.3);
    opacity: .6;
}

.frame__fender {
    position: absolute;
    top: -25px;
    right: -154px;
    width: 175px;
    height: 140px;
    background-color: #6a6262;
    border-radius: 80px 80px 0 0 / 80px 80px 0 0;
    border-top: 20px solid #292929;
    border-left: 12px solid #292929;
    border-right: 12px solid #292929;
}

.frame__fender::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 20%;
    background-color: #404040;
}

.wheel--back {
    right: -136px;
    top: 6px;
}

.wheel--back:hover {
    transform: rotate(-360deg);
    transition: transform 2s;
}

.frame__back {
    position: absolute;
    top: -13px;
    right: -142px;
    width: 10px;
    height: 20px;
    background-color: #000000;
}

.frame__back::before {
    position: absolute;
    content: '';
    right: -5px;
    width: 5px;
    height: 100%;
    background-color: #661212;
    border-radius: 0 20px 20px 0;
}

.frame__back:hover::before {
    background-color: red;
    box-shadow: 30px 0px 22px 25px rgba(240,20,20,0.75);
}

/* Footer */

.footer {
    background-color: rgba(0, 128, 0, 1);
    color: #fff;
}

.footer__inner {
    padding: 30px 0;
}

.footer__text {
    text-align: center;
}