.inter-regular {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
}
  
/* @font-face {
  font-family: "Circular Std";
  src: url('../fonts/CircularStd-Book.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url('../fonts/CircularStd-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
} */