.montserrat-<uniquifier> {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
@font-face {
  font-family: "Circular Std";
  src: url('../fonts/CircularStd-Book.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url('../fonts/CircularStd-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
}