@import url("reset.css");
@import url("fonts.css");

body {
    font-size: 14px;
    font-family: "Circular Std", sans-serif;
}


/* Header */

.header-block {
    background-color: #F35B09;
    padding: 20px 50px 30px 70px;
}

.header-block h1 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.3px;
    word-spacing: 5px;
    text-align: center;
}

/* Maim */

.advantage {
    background-color: #231F8B;
    color: #fff;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 112px 15px 82px;
}


.advantage-sup-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #5A54F2;
    margin-bottom: 10px;
    line-height: 1.71;
    letter-spacing: 0.2px;
}

.advantage-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.advantage-text {
    margin-bottom: 60px;
}

.advantage-text p {
    font-weight: 400;
    line-height: 1.43;
    margin-bottom: 10px;
}

.advantage-items {
    min-height: 360px;
    margin: 0 -15px;
    font-size: 0;
}

.advantage-item {
    max-width: 230px;
    display: inline-block;
    margin: 0 15px;
    padding: 30px 40px;
    background-color: #fff;
    margin-bottom: 20px;
}

.advantage-item img {
    margin-bottom: 20px;
}

.advantage-item h3 {
    font-size: 16px;
    color: #252B42;
    margin-bottom: 20px;
}

.advantage-item div {
    max-width: 50px;
    min-height: 2px;
    background-color: #E74040;
    margin-bottom: 20px;
}

.advantage-item P {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #737373;
    line-height: 1.43;
    font-size: 14px;
}

.blue {
    background-color: #5A54F2;
}

.blue h3,
.blue p {
    color: #fff;
}

.blue div {
    background-color: #fff;
}

.bottom {
    vertical-align: middle;
}

/* Footer */

footer {
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer {
    max-width: 800px;
    margin: 0 auto;
}

.footer div {
    margin: 10px;
}

.first {
    overflow: auto;
    height: 42px;
}

footer .text {
    display: inline-block;
    max-width: 47%;
}

.hidden {
    overflow: hidden;
    height: 25px;
    vertical-align: bottom;
}