@import url("reset.css");
@import url("fonts.css");

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

.container {
    max-width: 1302px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Header */

.header-block {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #808080;
    background: url("../img/starry_sky.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.header-content {
    padding: 100px 0;
    text-align: center;
}

.header-content h1 {
    display: inline-block;
    padding: 15px 40px;
    outline: 5px solid #8176AF;
    outline-offset: 5px;
}

/* Maim */

.info-block {
    background-color: #302C42;
}

.info-content {
    padding: 80px 0;
}

.info-items {
    border-radius: 90px;
    background: radial-gradient(50.13% 2900.76% at 53.89% 50%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    /* min-height: 167px; */
    color: #fff;
    padding: 25px 0;
    font-size: 0;
}

.info-item {
    max-width: 424px;
    width: 100%;
    display: inline-block;
    padding: 35px 0;
}

.visit-content,
.call-content,
.message-content {
    padding: 0 15px 0 105px;
}



.visit {
    background: url("../img/location.svg") 25px center / 70px no-repeat;
    /* background-image: url("../img/location.svg");
    background-position: 25px center;
    background-size: 70px;
    background-repeat: no-repeat; */
}

.call {
    background: url("../img/phone-call.svg") 25px center / 59px no-repeat;
}

.message {
    background: url("../img/mail.svg") 25px center / 65px no-repeat;
}

.info-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.info-link {
    font-size: 14px;
    font-weight: 400;
}

.call {
    border-right: 1px solid rgba(192, 183, 232, 0.33);
    border-left: 1px solid rgba(192, 183, 232, 0.33);

}

.about-block {
    background-color: #302C42;
    background-image: url("../img/about_bg.svg");
    background-repeat: no-repeat;
    background-position: center 20%;
}

.about-content {
    padding: 20px 0 80px;
}

.about-image {
    display: inline-block;
    max-width: 524px;
    overflow: hidden;
    margin-right: 113px;
    border-radius: 40% 15% 45% 15% / 45% 15% 40% 15%;
}

.about-info {
    color: #fff;
    display: inline-block;
    max-width: 630px;
    vertical-align: top;
    padding: 50px 0;
}

.about-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}

.about-sub-title {
    font-size: 36px;
    font-weight: 300;
    opacity: 0.95;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.about-text {
    margin-bottom: 18px;
}

.about-text p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #302C42;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    padding: 17px 40px;
    margin-bottom: 10px;
}

.description-content {
    max-width: 648px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
    padding: 35px 0;
}

.description-text {
    margin-bottom: 20px;
}

.description-text p {
    margin-bottom: 20px;
}

.description-list {
    margin-bottom: 20px;
}

.description-list li {
    margin-bottom: 14px;
    padding-left: 28px;
    background: url("../img/check.svg") 0 center / 20px no-repeat;
}

.remove-margin {
    margin-bottom: 0;
}

/* Footer */

.footer-block {
    background-color: #C0B7E8;
}

.footer-content {
    padding: 30px 0;
}

.footer-content a {
    text-transform: uppercase;
    padding: 15px 40px;
    background-color: #8176AF;
    border-top: 6px double #302C42;
    border-left: 6px dotted #24e4ba;
    border-right: 6px dashed #275ec5;
    border-bottom: 6px solid #fff;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.info-link a:focus,
.link:focus,
.footer-content a:focus {
    outline: 1px solid #8176AF;
}